* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  width: auto;
   display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: stretch;

  background-color: #1e1f26;
  color: #faebd7;
}
#root {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);*/.
  height:100vh;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 100vh;
  margin: 0 auto;
 
}

header {
  margin: auto;
  text-align: center;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);

}

h1 {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 2PX;
  font-size: 1.7em;
  color: #03dac6;
  text-align: center;
  padding: 50px 0;
  transition: transform 0.7s ease;
}

h1:hover {
  color: #ff0266;
  transform: scale(1.2);
}

h2 {
  font-size: 1.3em;
  letter-spacing: 0.2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #faebd7;
  margin: 0 auto;
  margin-bottom: 18px;
  text-align: center;
  transition: transform 0.7s ease;
}

h2:hover {
  color: #ff0266;
  transform: scale(1.2);
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  transform-style: preserve-3d;
  transform: perspective(800px);
  /*transition: all 0.3s ease;*/
}


footer {

  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}



nav>a {
  transition: transform 0.7s ease;

  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  color: #faebd7;
  padding: 0.5em;
  text-decoration: none;
}

nav>a.active {
  text-decoration-line: underline;
  color: #ff0266;
  

}

nav {
  margin: auto;
  padding: 30px;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
}
a.nav {
  transition: transform 0.7s ease;
}
a.nav:hover {
  transform: scale(1.2);
}

hr {
  border: none;
  border-top: 1px solid #faebd7;
  margin: 40px auto;
  width: 50%;
}

input[type="submit"] {
  background: #ff0266;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 10px 0;
  width: 25%;
  box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-bottom: 0px;
  transition: transform 0.7s ease;
}
input[type="submit"]:hover {
  transform: scale(1.2);
}

input,
select {
  font-family: "Josefin Sans", sans-serif;
  background: #f4f4f4;
  border: 1px solid #767676;
  color: #767676;
  border-radius: 4px;
  padding: 7px 9.5px 9px 9.5px;
  outline: none;
  width: 70%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

form {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: #767676;
  width: 400px;
  text-align: center;
}

.tile {
  font-weight: 200;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3em;
  margin-bottom: 4px;
  color: #faebd7;
}

.tile.tile-title {
  font-weight: 200;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3em;
  color: #03dac6;

}

.tile-container {
  margin-bottom: 20px;
  
  width: 70%; 
}


h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  font-weight: 200;
  color: #909090;
  text-align: center;
  padding: 20px;
}

i {
  color: #fff;
  font-size: 1em;
  transition: all 0.3s ease;
  padding: 18px;
}

i:hover {
  transform: translate3d(0, -12px, 22px);
  color: #03dac6;
}

section {
  
  justify-content: start;
  display: flex;
  flex-direction: column;
  align-items: stretch;

}